<%= stylesheet_link_tag 'complete', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="pageTitle">
    <div class="pageTitleJP">
        <p class="pageTitleJP_p">新規登録</p>
        <div class="pageTitleENG"><p class="pageTitleENG_p">SIGN UP</p></div>
    </div>
</div>

<!--contacts/submit-->
<div class="complete infoBox">
    <div class="body">
            <p>サイトへのご登録が完了しました。
            </p>
            <p>
                入力いただいたメールアドレス宛に確認メールを送信いたしました。<br>
                ご登録を有効化いただくために、メール内の確認リンクをクリックしてください。
            </p>
            <p>
                もしメールが届いていない場合は、迷惑メールフォルダやスパムフォルダもご確認ください。
            </p>
            <p>
                確認が完了するとアカウントが有効となり、サイトのすべての機能をご利用いただけます。<br>
                何かご不明点がございましたら、お気軽にお問い合わせください。
            </p>
            <p>
                より良いサービスを提供できるようスタッフ一同、努めてまいります。どうぞよろしくお願いいたします。
            </p>
    </div>
</div>
