<--users/show-->

<div>
    <p>アカウント</p>
</div>

<div>
    <p>1</p>
    <p>名前</p>
    <p>ユーザ名</p>
    <p>メールアドレス</p>
    <p>住んでいる場所</p>
    <p>パスワード</p>
</div>

<div>
    <p>2</p>
    <p>編集</p>
    <p>ログアウト</p>
    <p>アカウントを削除</p>
</div>