<%= stylesheet_link_tag 'complete', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="pageTitle">
    <div class="pageTitleJP">
        <p class="pageTitleJP_p">お問合せ</p>
        <div class="pageTitleENG"><p class="pageTitleENG_p">CONTACT</p></div>
    </div>
</div>

<!--contacts/submit-->
<div class="complete infoBox">
    <div class="body">
        <p>この度はお問い合わせいただきまして誠にありがとうございます。
            ご入力頂いたメールアドレス宛へ、ご確認メールをお送りしておりますのでご確認ください。
            今しばらくお待ちくださいませ。
        </p>

        <p>※ご送信後、ご確認メールが届かない場合はフォームご入力のメールアドレスの誤り、
            もしくはシステム等の不具合が考えられます。
            その際にはお手数ですがもう一度ご送信下さいますようお願い申し上げます。
            まれに迷惑メールフォルダへ入っている場合がございますので、合わせてご確認ください。
        </p>
    </div>
</div>

