<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>

    <body>
        <p>※このメールはシステムにより、自動で返信しています。ご返信をいただいても対応できかねますことをご了承ください。</p>

        <p>改めて、担当者よりご連絡させていただきますので、今しばらくお待ちください。</p>
        <p>以下の内容で、お問い合わせをお受けいたしました。</p>

        <p> <%= @contact.name %> 様</p>
        メールアドレス：
        お問い合わせ日時：年 月 日 時 分
        お問い合わせジャンル：
        お問い合わせ件名：
        お問い合わせ内容：
        
        今後とも（ショップ名）を宜しくお願いします。


        t.string :name, null: false
        t.string :email, null: false
        t.integer :genre, null: false
        t.string :title, null: false
        t.string :body, null: false
    </body>
</html>