<--home/aboutUs-->

<div>
    <p>About Us</p>
</div>

<div>
    <p>管理人の概要</p>
    <%= image_tag "admin_icon.png"%>
    <p>HAルKI</p>
    <p>会津大学在籍。</p>
</div>

<div>
    <p>サイトの概要</p>
    <p>このサイトは会津若松市のコミュニティです。</p>
</div>