<--posts/index-->

<div>
    <p>1</p>
    <p>検索</p>
    <p>ジャンル</p>
    <p>ソート</p>
</div>

<div>
    <p>2</p>
    <p>タイトル</p>
    <p>名前</p>
    <p>ユーザ名</p>
    <p>内容</p>
    <p>写真</p>
    <p>いいね</p>
    <div>
        <p>コメント</p>
        <p>いいね</p>
    </div>
</div>