<--posts/new-->

<div>
    <p>新規投稿</p>
</div>

<div>
    <p>1</p>
    <p>検索</p>
    <p>ジャンル</p>
    <p>ソート</p>
</div>

<div>
    <p>2</p>
    <p>タイトル</p>
    <p>名前</p>
    <p>ユーザ名</p>
    <p>ジャンル</p>
    <p>内容</p>
    <p>写真</p>
</div>