.aboutUsBox{
    width: 75%; 
    margin: 56px auto;
    background-color: rgb(214, 164, 155);
    
    .title{
        color: white;
        font-size: 40px;
        text-align: center;
    }
    .body > p{
        font-size: 16px;
        color: rgb(71, 71, 71);
        margin: 24px;
    }

    @media screen and (max-width: 820px) {
            width: 95%;
            padding: 24px 2px;
    }
}