.complete{
    width: 90%;
    margin: 0 auto;
    .body{
        width: 100%;
        padding: 8px 32px;
        p{
            text-align: start;
            padding: 12px 0;
        }
    }

    @media screen and (max-width: 820px) {
        width: 95%;
        .body{
            padding: 4px;
            p{
                text-align: start;
                padding: 16px 0;
                font-size: 14px;
            }
        }
    }
}
