header{
    .headerBox1{
        width: 100%;
        height: 95px;
        background-color: rgb(214, 164, 155);
        display: flex;
        position: relative;

        .iconBox{
            width: fit-content;
            height: 98%;
            //center
            position:absolute;
            left:50%;
            transform: translateX(-50%);

            .icon{ height: 100%;}
        }

        .userBox{
            width: fit-content;
            height: fit-content;
            //center
            position:absolute;
            right:8%;
            top: 50%;transform: translateY(-50%);
    
            .bt{
                width: 16vw;
                min-width: fit-content;
                font-size: 18px;
                margin: 12px 0;
            }
        }
    }

    .headerBox2{
        width: 100%;
        height: fit-content;
        background-color: rgb(214, 164, 155);
        margin: 8px 0;
        padding: 8px 10%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .bt{
            width: 16%; 
            height: fit-content;
            padding: 8px 0;

            .btLink{
                font-size: 18px;
                line-height:100%;
            }
        }
    }

    @media screen and (max-width: 480px) {
        .headerBox1{
            width: 100%;
            display: flex;
            position: static;
            padding: 0 18%;
    
            .iconBox{
                position: static;
                left: auto;
                transform: translateX(0%);
            }
    
            .userBox{
                margin: auto 0 auto 24px;
                position: static;
                top: auto;right: auto;transform: translateY(0%);
                .bt{
                    width: 32vw;
                    font-size: 13px;
                    padding: 2px 20px;
                }
            }
        }

        .headerBox2{
            padding: 8px 4px;
            justify-content:left;
    
            .bt{
                width: 18%; 
                height: fit-content;
                margin: 0 auto;
                padding: 2px 0;
                box-shadow:  none;
                .btLink{
                    font-size: 10px;
                }
            }
        }
    }
}
