.userSign{
    display: flex;
    height: fit-content;
    margin: 16px 0;
    p{
        margin: auto 20px;
    }
    .bt{
        margin-left: 0;
        margin-right: auto;
        font-size: 20px;
        padding: 4px;
        padding: 8px 24px;
    }

    @media screen and (max-width: 480px) {
        display: block;
        p{
            text-align: center;
            margin-top: 16px; margin-bottom: 8px;
        }
        .bt{ margin-right: 0; }
    }
}